*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #09151e;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 10px;
}
section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 20px 0px 20px 0px;
  padding: 0px 10px;
}
h2{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeading{
  color: #d3e134;
  max-width: 900px;
}
.contacts{
  color: white;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  font-size: 20px;
  margin: 20px 10px;
}
.contacts-grp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.contacts .icon{
  color: #d3e134;
  font-size: 25px;
}
.contacts label{
  margin-left: 6px;
  color: #d3e134;
}
.contacts a{
  color: white;
  margin-left: 6px;
  text-underline-offset: 3px;
}
.calendly-inline-widget{
  margin-top: -60px;
}
@media (max-width: 666px) {
  .calendly-inline-widget{
    margin-top: 10px;
    border-radius: 10px;
  }
}
@media (min-width: 666px) {
  .sectionHeading{
    font-size: 40px;
  }
}